[user]
    name = Shahmir Javaid
    email = shahmirj@gmail.com
[credential]
    helper = cache --timeout=3600
    username = shahmirj@gmail.com
[color]
    ui = auto
    pager = true
    status = true
[merge]
    commit = no
[alias]
    ci = commit
    up = pull --rebase
    st = status
    br = branch
    graph = log --graph --oneline --all --decorate
    search = grep -n
[push]
    default = current
[pull]
    default = current
