[user]
    name = Shahmir Javaid
    email = shahmirj@gmail.com
[credential]
    helper = cache --timeout=3600
    username = shahmirj@gmail.com
[color]
    ui = true
    pager = true
    status = true
[merge]
    commit = no
    ff = false
[alias]
    ci = commit
    up = pull --rebase
    co = checkout
    cb = checkout -b
    fe = fetch
    st = status --short -b
    br = branch
    re = rebase
    me = merge
    graph = log --graph --oneline --all --decorate
    tree = log --graph --oneline --all --decorate
    search = grep -n
[push]
    default = current
[pull]
    default = current
    rebase = true
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
